export SERVICE_ACCOUNT_EMAIL=${service_account}@${your_gcp_project}.iam.gserviceaccount.com
export PROFILE_ID=${your_analytics_view_id}
export GOOGLE_API_KEY="-----BEGIN PRIVATE KEY----- {{ \nを含む private_key }} -----END PRIVATE KEY-----"
export WEBSITE_NAME=${Set Yours}
export MACKEREL_API_KEY=${your_mackerel_api_key}
export MACKEREL_SERVICE_NAME=${Set Yours}
